*{
    margin: 0px;
    padding: 0;
   box-sizing: border-box;
}


body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;   
    background: whitesmoke;
    overflow-x: auto;
   
    
}

.login-box{
  width: 440px;
  padding: 30px;
  border-radius: 8px;
  height: auto;
 border: 1px solid #ccc;
 box-shadow: 0 10px 30px rgba(0,0,0,0.15);

 
}
td{
    padding: 5px;
    font-size: large;
    padding-left: 45px;
    
}

h1{
    text-align: center;
    font-size: bold;
}
form{
    padding-top: 20px;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid  rgb(166, 154, 154);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
    padding-left: 8px;
}

input:hover{
    box-shadow: 2px 2px 4px rgba(0,0,0,0.15);
}

#btn{
    padding: 4px;
    margin-top: 6px;
    height: 38px;
    width: 300px;
    border-radius: 5px;
    background-color: #3a7ee3;
    color: aliceblue;
    font-size: 15px;
    font-size: bold;
    border: 2px solid  #3a7ee3;
}








.error-msg{
    display: none;
}

.error-pass{
    display: none;
}

.links{
     font-size: medium;
     display: flex;
     justify-content: space-between;
     
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}






