body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.main{
    height: 100vh;
    width: 40%;
    border: 2px solid black;
    background-color: aliceblue;
    scroll-behavior: smooth;
     overflow-x: auto; 
}

.input-box{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
    position: relative;
   
}

#inputelement{
    width: 50%;
    height: 25px;
     background-color: silver;
}

#addBtn{
    position: absolute;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    height: 25px;
    width: 70px;
    background-color: green;
    color: white;
    border: none;
    color: white;
    
    border-radius: 6px;
    cursor: pointer;
}

.container{
    width: 100%;
}

table{
    width: 260px;
    height: 30px;
    border-collapse: collapse;
    margin-left: 180px;
    border: 2px solid black;
}

tr{
    border: 1px solid #ddd;
    height: 10px;
    border-bottom: 2px solid black;
    
}

td{
    padding: 5px;
}

td:last-child{
    text-align: right;
}

#rbtn{
    background-color: red;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}
